@font-face {
  font-family: 'Open Sans';
  src: url('/font/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/font/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
